h1 { 
font-size:30px;
text_align: center;
color: #301014
 }

h2 {
font-size: 20px;
tex_align:  center;
color:  #79B791;
}




body {
background-color: #F4F3ED ;
font-size:  16px;
font-family:  Helvetica, sans-serif;
color:#51291E; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
